.suite {
    display: flex;
    height: 50px;
    justify-content: center;
    align-content: center;
    align-self: center
}

.heart{
    display: none;
}

.diamond{
    display: none;
}

.spade{
    display: none;
}

.club{
    display: none;
}

.player-heart{
    display: none;
}

.player-diamond{
    display: none;
}

.player-spade{
    display: none;
}

.player-club{
    display: none;
}

#container {
    /*centers in the container*/
    text-align: center;
  }
  
  div .circTxt {
    /*allows for centering*/
    display: inline-block;
    /*adjust as needed*/
    margin-bottom: 128px;
    color: #111;
    font-size: 2em;
    z-index: -1000
  }